# django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# environments
.env

# webpack
/public/assets/style.css.map
/public/assets/bundle.js.map

# node
/node_modules